body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40PX;
}
P{
    color: dimgray;
}
.orange-highlight{
    color: rgb(255, 94, 0);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
    
}
.link-button{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, rgb(255, 123, 0), rgb(255, 159, 69));
}
.bottom{
    padding-bottom: 10px;
}
.dream-area{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}